$primary: #000000;
$secondary: #FFFFFF;
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;

.app-title {
  align-items: center;
  color: rgba($primary, 0.7);
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .field-wrapper {
    max-width: 900px;
    max-height: 700px;

    @media (max-width: 1300px) {
      max-width: 700px;
      max-height: 500px;
      overflow: auto;
    }

    @media (max-width: 900px) {
      max-width: 600px;
      max-height: 500px;
      overflow: auto;
    }

    @media (max-width: 600px) {
      max-width: 500px;
      max-height: 500px;
    }

    @media (max-width: 500px) {
      max-width: 400px;
      max-height: 500px;
    }

    @media (max-width: 400px) {
      max-width: 330px;
      max-height: 400px;
    }
  }

  .field-container {
    background-color: rgba($primary, 0.1);
    border-radius: 3px;
    display: inline-block;
    box-shadow:
      0 0 10px 6px rgba($primary, 0.15);

    .row {
      align-items: center;
      display: flex;
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      .cell {
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        height: 23px;
        width: 23px;
        background-color: rgba($primary, 0.4);

        &:not(:last-child) {
          margin-right: 5px;
        }

        &:hover {
          box-shadow:
            0 0 3px 1px rgba($primary, 0.8);
        }

        .bomb-icon {
          width: 24px;
          height: 24px;
        }

        .bombs {
          &-1 {
            color: blue;
          }
          &-2 {
            color: green;
          }
          &-3 {
            color: red;
          }
          &-3 {
            color: brown;
          }
          &-4 {
            color: rgb(131, 39, 39);
          }
          &-5 {
            color: rgb(80, 22, 22);
          }
          &-6 {
            color: rgb(21, 22, 80);
          }
          &-7 {
            color: rgb(20, 14, 54);
          }
          &-8 {
            color: rgb(55, 21, 63);
          }
        }
      }

      .selected {
        background-color: rgba($secondary, 0.5);
      }
    }

    .fail-banner {
      align-items: center;
      background-color:#e7e7e7;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50%;
      height: 150px;
      width: 320px;
      position: absolute;
      transform: translateX(-50%);
      margin-top: 15%;
      box-shadow:
        0 0 12px -3px rgba($primary, 0.8),
        0 6px 12px -6px rgba($primary, 0.8),
        0 12px 24px -6px rgba($primary, 0.22);

      .fail-banner-title {
        font-size: 28px;
        font-family: $font-primary;
      }

      .fail-banner-try-again {
        cursor: pointer;
        color: rgba($primary, 0.8);
        font-size: 22px;
        font-family: $font-secondary;
        font-weight: 600;
        margin-top: 6px;
        transition: color 0.5s;

        &:hover {
          color: rgba($primary, 0.4);
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .hidden {
    display: none;
  }
}

.players-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .players-container-wrapper {
    margin: 20px 0;
    display: flex;

    @media (max-width: 872px) {
      display: contents;
    }

    .player {
      align-items: center;
      display: flex;
      margin: 0 22px;

      @media (max-width: 873px) {
        &:-webkit-any(.player-2) {
          flex-direction: row-reverse;
        }
      }

      .player-name {
        border: 1px solid rgba($primary, 0.3);
        border-radius: 5px;
        font-family: $font-primary;
        font-size: 20px;
        line-height: 22px;
        height: 30px;
        margin: 0px 24px;
        padding: 0 6px;
        text-align: center;
        width: 220px;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow:
          0 0 12px -3px rgba($primary, 0.2),
          0 6px 12px -6px rgba($primary, 0.2);

        &:focus {
          box-shadow: 0 0 12px -2px $primary;
          border: 1px solid green;
          outline: none;
        }

        &.winner {
          padding: 5px;
          box-shadow: 0 0 30px 5px green;
          border-radius: 3px;
        }

        &.loser {
          padding: 5px;
          box-shadow: 0 0 30px 5px red;
          border-radius: 3px;
        }
      }

      .player-score {
        align-items: center;
        background-color: rgb(0, 0, 0);
        border-radius: 3px;
        color: red;
        display: flex;
        justify-content: center;
        font-family: $font-secondary;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        padding: 4px;
        height: 40px;
        width: 90px;
        border: 1px solid black;
        box-shadow:
          0 0 9px -3px $primary;
      }
    }

    .error-message {
      font-family: $font-primary;
      color: red;
      margin: 0 48px;

      @media (min-width: 873px) {
        &.player-2 {
          float: right;
        }
      }
    }

    .score-separator {
      align-items: center;
      display: flex;
      font-family: $font-secondary;
      font-size: 30px;
    }

  }

  .start-game {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .start-game-button {
      cursor: pointer;
      background-color: rgba($primary, 0.2);
      border: 1px solid rgba($primary, 0.2);
      border-radius: 5px;
      margin-top: 6px;
      padding: 2px 8px;
      transition: background-color 0.3s;

      &:hover:not(.inprogress) {
        background-color: rgba($primary, 0.1);
      }

      &:focus {
        outline: none;
      }


      .start-game-text {
        font-family: $font-primary;
        font-size: 25px;
        font-weight: bold;
        color: blue;
        text-transform: uppercase;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    .single-player-wrapper {
      align-items: center;
      display: flex;

      .single-player-checkbox {
        margin: 0 6px;
      }

      .single-player-label {
        margin: 0 6px;
        white-space: nowrap;
        font-family: $font-secondary;
        font-size: 18px;
      }
    }
  }

  .current-turn {
    border: 3px solid lime !important;
  }

}

.inprogress {
  opacity: 0.7;
  cursor: no-drop !important;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.field-config {
  border: 1px solid rgba($primary, 0.2);
  box-shadow: 0 0 12px -3px rgba($primary, 0.8);
  display: flex;
  flex-direction: column;
  left: 20px;
  margin-bottom: 30px;
  top: 30px;
  padding: 6px;
  position: relative;

  @media (min-width: 1400px) {
    position: fixed;
    top: 132px;
  }

  .config {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    .input-config {
      border: 1px solid rgba($primary, 0.2);
      border-radius: 3px;
      width: 50px;
      height: 20px;
      font-size: 18px;
      padding: 5px 10px;
    }
    .label-config {
      font-family: $font-primary;
      margin-left: 6px;
    }
  }
}